<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/navbar.css">
    <title>Document</title>
  </head>
  
  <body>
    <div class="navbar-container">
        <div class="navbar-img">
          <!-- Left Icon -->
          <img class="navbar-img-css" src="iconone.svg" alt="icon" />
      
          <!-- Desktop Navigation -->
          <div class="navbar-desktop-nav">
            <a href="/index.html">Home</a>
            <a href="/about.html">About</a>
          </div>
      
          <!-- Burger Menu for Mobile -->
          <div class="navbar-burger-menu">
            <div class="burger-icon" onclick="toggleMenu()">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="nav-links" id="mobileNav">
              <a href="/index.html">Home</a>
              <a href="/about.html">About</a>
            </div>
          </div>
        </div>
      </div>
      
  </body>
</html>
